/* External CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #805858;
    margin: 0;
    padding: 0;
}
#header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

#nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

#nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

#nav a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(250, 210, 221);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}